/* 
Author: Sara Ruth Luviano Rodríguez
*/

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: darksalmon;
}
a:link,
a:visited {
    color: #af3618;
}
p {
    line-height: 1.65em;
}

/* general layout */

div.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* header */

.site-header {
    border-bottom: 2px solid #FFFFFFFF;
    margin-bottom: 33px;
    background: #154;
}
article.post {
    border-bottom: 2px dotted #bbbbbb;
    padding-top: 10px;
    background: #33f;
}
article.post:last-of-type {
    border-bottom: none;
}

/* footer */

.site-footer {
    margin-top: 30px;
    border-top: 2px solid #999;
}

/* menus! navs */

.site-nav ul {
    margin: 0;
    padding: 0;
    background: #72f;
}
.site-nav ul:before,
.site-nav ul:after {
    content: "";
    display: table;
}
.site-nav ul:after {
    clear: both;
}
.site-nav ul {
    *zoom: 1;
}
.site-nav ul li {
    list-style: none;
    float: left;
}

/*site header menu*/

.site-header nav {
    margin-top: 30px;
}
.site-header nav ul li {
    margin-right: 5px;
    list-style: none;
    float: left;
    background: #eee;
}
.site-header nav ul li a:link,
.site-header nav ul li a:visited {
    padding: 10px 17px;
    border: 1px solid #DDD;
    text-decoration: none;
}
.site-header nav ul li a:hover {
    background-color: #999;
    color: #FFF;
}
.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
    background-color: #af3618;
    color: #FFF;
}

/*site footer menu*/

.site-footer nav ul li {
    margin: 10px;
    padding-right: 10px;
    border-right: 1px dotted #BBB;
}

/* Children Links */

.children-links {
    font-size: 90%;
}
.children-links a:link,
.children-links a:visited {
    text-decoration: none;
    padding-bottom: 2px;
}
.children-links ul {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    background: #000;
}
.children-links li {
    margin-right: 20px;
}
.children-links .parent-link {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #DDD;
    font-size: 120%;
    font-weight: bold;
}
.children-links .parent-link a:link,
.children-links .parent-link a:visited {
    color: #333;
}
.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
    border-bottom: 1px solid #DDD;
    color: #FFF;
    background-color: #af3618;
    cursor: default;
}

/*POST STYLE*/

.post h2 {
    margin-bottom: 0;
}
p.post-info {
    font-style: oblique;
    font-size: 87%;
    color: #999;
}
p.post-info a:link,
p.post-info a:visited {
    color: #999;
}